<%= form_for(@news) do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if can? :manage, News %>
  <div class="field">
	  <%= f.label :user_id, 'Editor' %><br>
  	<%= f.collection_select(:user_id, User.select([:id, :first_name, :last_name]).where(role: ['admin', 'editor']),  :id, lambda{|i| [i.first_name, i.last_name].join(' ')}) %>
  </div>
<% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :news %><br>
    <%= f.text_area :news %>
  </div>
  <div class="field">
    <%= f.label :tag %><br>
    <%= f.text_area :tag %>
  </div>
  <div class="field">
    <%= f.label :pic1 %><br>
     <%= f.file_field :pic1 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
