<div class="jumbotron">
  <h1>Listing News</h1>
</div>

<table class='table'>
  <thead>
    <tr>
      <th>Title</th>
      <th>News</th>
      <th>Tag</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @news.each do |story| %>
		  <tr>
		    <td><%= story.title %></td>
		    <td><%= story.news %></td>
		    <td> <%= story.tag %></td>

		    <td><%= link_to 'Show', story %></td>
		    <td><% if can? :edit, story %><%= link_to 'Edit', edit_news_path(story) %><% end %></td>
		    <td><% if can? :destroy, story %><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
		  </tr>
		<% end %>
  </tbody>
</table>

<br>

<% if can? :create, News %><%= link_to 'New News', new_news_path %><% end %>
