<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>News:</strong>
  <%= @news.news %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @news.tag %>
</p>
<p>
  <strong>Picture:</strong>
  <%= image_tag @news.pic1.url %>
</p>

<p>
 <strong>Published At:</strong>
 <span id="published-at"><%= @news.published_at %></span>
</p>

<% if can? :edit, @news %>
	<%= link_to 'Publish', publish_news_path(@news), method: :patch, remote: true %> |
  <%= link_to 'Edit', edit_news_path(@news) %> |
<% end %>
<%= link_to 'Back', news_index_path %>
