<!DOCTYPE html>
<html>
  <head>
    <title> Headlines demo</title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <!-- <%= link_to "sample app", '#', id: "logo" %> -->
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   '/' %></li>
            <li><%= link_to 'New News', new_news_path %></li>

            <% if user_signed_in? %> 
              <li> Signed in as <% current_user.email %> </li>
              <li> <%= link_to "Log out",  destroy_user_session_path, :method => :delete  %>
            <% else %>   
              <li><%= link_to "Log in", '#' %></li>
            <%end %>

          </ul>
        </nav>

      </div>
    </header>
    <div class="container">
      <% if notice %>
        <p class="alert alert-success"> <% notice %> </p>
      <% end %>
      <% if alert %>
       <p class="alert alert-danger"> <% alert %> </p>
      <% end%>

      <%= yield %>
    </div>
  </body>
</html>
